/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global typography tweaks */
body {
  @apply font-sans leading-relaxed text-gray-800;
}
/* stylelint-enable */